*.jks
*.p12
*.key
*.iml
*.mobileprovision
*.orig.*
npm-debug.*

.project
.DS_Store

yarn.lock
Podfile.lock
package-lock.json
local.properties

node_modules/**/*

/.expo
/.idea
/node_modules
/web-build
/web-report

/ios/Pods
/ios/build
/ios/ripe-components-react-native-app.xcworkspace
/ios/ripe-components-react-native-app.xcodeproj/project.xcworkspace

/android/.idea
/android/.gradle

/android/app/bin
/android/app/build

/temp
